
nav{
    background-color: paleturquoise;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    padding: 20px ;
    text-align: center;
    
    }
 
    .para{
        text-align: center;
    }

    .para1{
        text-align: center;
    
    }
  